
<h1> <%= @cocktail.name %> </h1>


<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete %>


<% @cocktail.doses.each do |dose|%>
<%= dose.ingredient.name %>
<%= dose.description %>
<%= link_to "Delete dose", dose_path(dose), method: :delete %>
<% end %>




<%= simple_form_for [@cocktail, @dose]  do |f| %>

Ingredients
<%= f.association :ingredient %>
<%= f.input :description , placeholder: "Description" %>
<%= f.submit %>
<% end %>
